{%extends 'partials/base2.html'%}
{%block title%}Register{%endblock%}
{%load static%}
{%load crispy_forms_tags%}


{%block content%}
<style>
    .fa-minus {
        font-size: 3rem;
        color: black;
    }

    .container-t {
        margin: 30px 0;
        padding: 0;
        width: 100%;
        border-radius: 15px 70px 15px 15px;
        min-height: 45vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background: url("{% static 'shop_media/log.jpg' %}") no-repeat;
        background-position: center;
        background-size: cover;
        overflow: hidden;
        /* Ensure the pseudo-element does not overflow the container */
    }

    .brr {
        font-size: 2.2rem;
        font-weight: 800;
        letter-spacing: 2px;
        line-height: 60px;
        margin-bottom: 20px;
    }

    .max {
        font-size: 0.8rem;
        max-width: 600px;
        margin-bottom: 10px;
    }

    .okay a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 60px;
        padding: 10px 30px;
        background: #000;
        border-radius: 15px;
        color: #fff;
        font-size: 1.2rem;
    }

    .text-muted-2 {
        color: #b6b6b681;
    }
    .form-control {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 60px;
        padding: 10px 30px;
        border-radius: 15px;
        color: #000;
        font-size: 0.8rem;
    }
    .check {
        margin: 10px;
        width: 25px;
        height: 25px;

    }
</style>

<div class="d-flex pos justify-content-around align-items-center p-3">
<!--    <a href="{%url 'userauths:register'%}" class="text-decoration-none"><i class="fa-solid fa-minus"></i></a>-->
<!--    <a href="{%url 'userauths:enter_pin'%}" class="text-decoration-none"><i class="fa-solid fa-minus text-muted-2"></i></a>-->
    <a href="#" class="text-decoration-none"><i class="fa-solid fa-minus text-muted-2"></i></a>
    <a href="#" class="text-decoration-none"><i class="fa-solid fa-minus text-muted-2"></i></a>
</div>
<h3 class="h4 fw-bold">Tell us about yourself</h3>

<p class="max">
    Please enter your legal information below
</p>
<br>
<div class="content d-flex py-4 flex-column mb-5">
    <form method="POST" action="">
        {% csrf_token %}
        <div class="col-12 my-2">
            {{ form|crispy }}
        </div>
        <div class="form-check d-flex align-items-center">
            <input type="checkbox" class="form-check-input check" id="same-address" required>
            <label class="form-check-label mt-2" for="same-address">
                <p class="max">I have agreed to the <span class="text-success">Terms</span> & <span class="text-success">Conditions</span></p>
            </label>
        </div>
        <div class="container d-flex okay gap-3 fixed-bottom mb-3 justify-content-center text-center align-items-center">
            <a href="{% url 'userauths:splash' %}" class="login bg-body-tertiary text-dark fw-bold w-25">
                <i class="bi bi-chevron-left"></i>
            </a>
            <button type="submit" class="reg btn btn-dark btn-lg rounded-4 fw-bold w-75">Next</button>
        </div>
        <div class="text-center mb-5">
            <p>Already have an account? <a href="{% url 'userauths:login' %}" class="text-success fw-bold">Login</a></p>
        </div>
       
    </form>
</div>
{%endblock%}